mixin avia-board__header
    div(class="row py-2 border-top border-bottom border-secondary avia-board__header")
        span(class="col-1 text-dark font-weight-bold time") Время
        span(class="col-4 text-dark font-weight-bold town") Город
        span(class="col-2 text-dark font-weight-bold flight-num") Номер рейса
        span(class="col-1 text-dark font-weight-bold terminal") Терминал
        span(class="col-4 text-dark font-weight-bold status") Статус