mixin footer
    footer(class="px-2 py-3 text-center bg-dark rounded-bottom title footer")
        span(class="text-light") Flights data provided by 
        a(href="https://www.flightstats.com/" target="_blank") FlightStats