include wrapper/wrapper
include content/content
include header/header
include title/title
include avia-nav/avia-nav
include search-bar/search-bar
include avia-board/avia-board

-
    var navTabs = {
        tab1: { name: 'Вылет', active: true },
        tab2: { name: 'Прилет' },
        tab3: { name: 'Задержка' }
    };

    var flightData = {
        flight1: {
            time: '20:00',
            city: 'Москва',
            number: ['FV 6289', 'SU 6289'],
            terminal: 'D',
            status: 'В полете'
        },
        flight2: {
            time: '20:15',
            city: 'Сочи',
            number: 'SU 6289',
            terminal: 'E',
            status: 'Посадка закончена'
        },
        flight3: {
            time: '20:30',
            city: 'Екатеринбург',
            number: ['FV 6289', 'SU 6289'],
            terminal: 'A',
            status: 'Совершил посадку в 00:06'
        },
    }

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Avia-board-app
        link(rel="stylesheet", type="text/css", href=`./css/styles${devMode ? '' : '.min'}.css`)
        script(src='./js/lib.js')
    body
        +wrapper
            +header
                +title('Онлайн табло')
                +avia-nav(navTabs)
                    +search-bar
            +content
                +avia-board(flightData)
        script(src=`./js/scripts${devMode ? '' : '.min'}.js`) 