include wrapper/wrapper
include content/content
include header/header
include title/title
include avia-nav/avia-nav
include search-bar/search-bar
include avia-board/avia-board

-
    var navTabs = {
        tab1: { name: 'Прилет', link: 'arrival', active: true },
        tab2: { name: 'Вылет', link: 'departure' },
        tab3: { name: 'Задержка', link: 'delayed' }
    };

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        title Avia-board-app
        link(rel="stylesheet", type="text/css", href=`./css/styles${devMode ? '' : '.min'}.css`)
        script(src='./libs/jquery.min.js')
        script(src='./libs/popper.min.js')
        script(src='./libs/bootstrap.min.js')
    body
        +wrapper
            +header
                +title('Онлайн табло')
                +avia-nav(navTabs)
                    +search-bar
            +content
                +avia-board(navTabs)
        script(src=`./js/scripts${devMode ? '' : '.min'}.js`) 